<%= render "comments/form_comment" %>

<!--<h3><%#= @comment.commenter %></h3>-->

<!--<p><%#= @comment.body %></p>-->



<!--<hr>-->

<!--<h4>Комментарии</h4>-->
<%#= render @article.comments %>
<!--<hr>-->

<!--<h5>Добавить комментарий:</h5>-->
<%#= render 'comments/form' %>